 /* font-family: "Raleway",
 sans-serif;
  font-family: "Roboto",
  sans-serif; */

  body {
    font-family: "Roboto",
            sans-serif;
            color: #434455;
            background-color: #ffffff;
  }

  /* reset */


  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }


/* common */

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
  }
  
  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }
  
  .header-logo .logo-part {
    color: #2e2f42;
  }

  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
  }

  

  .contacts {
    margin-left: auto;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus
 {
    color: #404bbf;
  }
  
  /* section 1 */

  .section-first {
    background: #2e2f42; 
    padding: 188px 0;
  }

  

  .section-title {
    max-width: 496px;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      color: #ffffff;
      margin: auto;
  }

    .section-first-button {
      height: 56px;
      min-width: 169px;
      display: block;
      font-weight: 500;
      font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: auto;
        margin-top: 48px;
 }

     .section-first-button:hover,
     .section-first-button:focus {
      background-color: #404bbf;
 }

 .inf-page {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
 }

.text-inside {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


.left {
  text-align: left;
}


.title {
  padding: 120px 0;  
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-list {
  display: flex;
  gap: 24px;
}

.first-list {
  width: calc((100%-72px)/4);
  
}

.page-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.title-text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.page-list {
  display: flex;
  gap: 24px;
}

.team-list {
  background: #ffffff;
  width: calc((100% - 72px) /4);
  border-radius: 0px 0px 4px 4px;
}

.container-name {
  padding: 32px 0;
}

.portfolio {
  padding: 120px 0 120px 0;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-img {
  width: calc((100% - 48) /3);
}

.container-ourteam {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

/* footer */

.footer-page {
  background: #2e2f42;
  padding: 100px 0;
}


.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-page .text-inside {
  color: #f4f4fd;
  max-width: 264px;
}
